.contaner_menu{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.menu{
    width: 100%;
    text-align: center;
}
.menu a{
    width: 100%;
    text-decoration: 0;
    color: black;
    height: 40px;
 display: flex;
 align-items: center;
 padding: 0px 20px;
 font-size: 24px;
 

}

.menu>button{
    width: 100%;
    margin-bottom: 12px;
    padding: 0;
    border: 0;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.5s;
    background-color: rgb(255, 255, 255);

}
.menu>button:hover{
    background-color: rgb(200, 200, 200);
}